@keyframes wag {
  50% {
    transform: rotate(10deg);
  }
}

@keyframes tongue {
  50% {
    transform: rotate(45deg) translateY(2.5px);
  }
}

.dog_animation {
  position: absolute;
  transform: translate(40, 40);
  z-index: 100;

  .dog {
    //   얼굴 만들기
    background: peachpuff;
    width: 120px;
    height: 75px;
    position: absolute;
    top: 40%;
    left: 35%;
    border-radius: 0px 0px 0px 120px;

    .body {
      background: peachpuff;
      width: 180px;
      height: 100px;
      position: absolute;
      top: 55px;
      left: 70px;
      border-radius: 0px 0px 0px 60px;

      .leg {
        background: peachpuff;
        width: 18px;
        height: 50px;
        position: relative;
      }

      .leg1 {
        top: 90px;
        left: 34px;
      }

      .leg2 {
        top: 41px;
        left: 64px;
      }

      .leg3 {
        top: -7px;
        left: 137px;
        background: rgba(#ccae94, $alpha: 0.5);
        z-index: -1;
      }

      .leg4 {
        top: -57px;
        left: 162px;
      }

      .tail {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 100px solid peachpuff;
        position: relative;
        bottom: 284px;
        left: 158px;
        transform: rotate(40deg);
        // 기준점 : bottom
        transform-origin: bottom;
        animation: wag 1s infinite;
      }

      .ear {
        // 말랑이 스타일
        // width: 30px;
        // height: 60px;
        // border-left: 30px solid transparent;
        // border-right: 30px solid transparent;
        // border-bottom: 30px solid peachpuff;
        // position: relative;
        // bottom: 284px;
        // left: 158px;
        background: salmon;
        width: 45px;
        height: 90px;
        border-radius: 0 0 100px 100px;
        position: relative;
        bottom: 355px;
        left: 5px;
      }

      .nose {
        background: black;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: relative;
        bottom: 450px;
        right: 76px;
      }

      .eye {
        background: black;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: relative;
        bottom: 448px;
        right: 18px;
      }

      .tongue {
        background-color: tomato;
        // height: 20px;
        // width: 8px;
        width: 15px;
        height: 40px;
        border-radius: 10px;
        position: relative;
        bottom: 432px;
        right: 32px;
        z-index: -1;
        transform: rotate(45deg);
        transform-origin: top;
        animation: tongue 1s infinite;
      }
    }
  }
}
