.header-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 55px;
  z-index: 66;

  > .logo {
    font-family: "Gugi", cursive;
    font-size: 44px;
    font-weight: 500;
  }

  > .menu-container {
    font-family: "Nanum Myeongjo", serif;
    font-size: 16px;
    display: flex;
    letter-spacing: 0.02em;
    line-height: 70px;

    > li {
      margin-right: 50px;
      &:hover {
        color: red;
        text-decoration: underline;
      }
    }
  }
}
