@import "./styles/_font.scss";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

* {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
